
			<!-- This code generated from Deliveries Powered by Mahat, Source Machine : 15.206.208.9 , Build Number : Build 14092021 #2021-09-014(Updated on 29102021 12:49) on 09/07/2023 11:20:48 -->
			@using Microsoft.AspNetCore.Http
			@inject IHttpContextAccessor HttpContextAccessor
			@model userslist.Models.userslistModel
			@{
			ViewData["Title"] = "Update userslist";

			Layout = "~/Views/Shared/_Layout.cshtml";
			
			}

			@using(Html.BeginForm("Update_userslist", "userslist", FormMethod.Post, new { enctype="multipart/form-data", @id = "formId"}))
			{

			<div class="card card-block contCard"><!--Form_Main_Card-->
				<div class="mobileHeader"><!--form_card_header-->
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<h4 class="formHdr">Update userslist</h4>
						</div>
					</div>
				</div><!--form_card_header-->
				<!--form_error_display-->
				@if(ViewData["message"] != null)
				{
				<div class="row">
				<div class="col-sm-12 col-xs-12">
				<div class="alert alert-danger alert-dismissible ">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">x</span>
				</button>
				Info :  @ViewData["message"]
				</div>
				</div>
				</div>
				}
				
				
				 
				
				<!--form_error_display-->
				<div class=""><!--form_inner_card-->
					<div class="card-block"><!--form_inner_card_block-->
					    @Html.HiddenFor(m => m.userslistid)
						 

						<div class="row tenantSection">
						<div class="col-sm-2 p-2">
						<div>
						<div class="form-group form-group--float-above my-3" > 
						<label class="tenant_display">Users</label>
						<select name="tenantid" id="tenantid" class="form-control tenant_display">
						</select>
						<i class="form-group__bar"></i>
						</div>
						
						<label id="tenantid-error" class="help-block" style="display: none" for="tenantid"></label>
						</div>
						</div>
						</div>
						<div class="row"><!--field_container_row-->
							<!--fieldsStartsHere-->
								
								<div class="col-sm-3 col-xs-12 p-2 outputofusers_craftmyapp_container">
						<div>
							<div class="form-group" > 
								<label>Output of users</label>
                                @Html.TextBoxFor(m => m.outputofusers, new {@type="text",@maxlength="128", @class = "form-control form-control-lg " })

							     @Html.ValidationMessageFor(model => model.outputofusers)
							</div>
						</div>
					</div>
<div class="col-sm-3 col-xs-12 p-4 userslist_craftmyapp_container">
							<div>

							<label>userslist</label><br>
							<div class="form-group">
                                                        <div>
                                                          <label class="switch">
                                                          @Html.CheckBoxFor(m => m.userslist,new {@class = "" })
                                                           
                                                          <span class="slider round"></span>
                                                        </label>
                                                        </div>
                                                      </div>

							</div>
							</div>


							<!--fieldsEndsHere-->	
						</div><!--field_container_row-->


						<div class="card-block"><!--form_button_card_block-->
							<button type="button" onclick="window.history.back()"  class="btn btn-secondary cma_cancel_button waves-effect">Cancel</button>
							<button type="button" id="btnSubmit" class="btn cma_primary_button  waves-effect pull-right">Update userslist</button>
						</div><!--form_button_card_block-->


					</div><!--form_inner_card_block-->
				</div><!--form_inner_card-->
			</div><!--Form_Main_Card-->

			}<!--EndFORM-->


			
			 
			 <script type="text/javascript">
				$(document).ready(function () {


				var Actions=getAutho("userslist","edit")
				if(Actions == undefined){
				window.location = "@Url.Action("RoleAuthorizationFailed", "users")"
				}


				});
				</script>
			
			
			
			
			<script>
var str_tenantid;
</script>
@if (Model != null)
{
<script>
str_tenantid = "@Model.tenantid"
</script>
}else{
<script>
str_tenantid = ""
</script>
}
<script>

if("@Context.Session.GetString("userslisttoken")" !="")
 {
$.ajax({
url: '@Url.Action("get_project_tenant","tenant")',
dataType: 'json',

success: function(data) {
var ddltarget = "#tenantid"
$(ddltarget).empty();
$(ddltarget).append("<option value=''>Choose</option>")
$.each(data, function(index, optionDataInner) {
if(str_tenantid == optionDataInner.tenantid)
{
$(ddltarget).append("<option selected value='" + optionDataInner.tenantid + "'>" + optionDataInner.firstname +' '+ optionDataInner.lastname + "</option>")
}else{
$(ddltarget).append("<option value='" + optionDataInner.tenantid + "'>" + optionDataInner.firstname +' '+ optionDataInner.lastname + "</option>")
};
});

},
error: function(jqXHR, textStatus, errorThrown) {
if (JSON.stringify(jqXHR.responseText) == "\"API Authorization failed\"")
{
swal({
title: 'Failed!',
text: jqXHR.responseText,
type: 'error',
buttonsStyling: false,
confirmButtonClass: 'btn btn-primary',
allowOutsideClick: false
}).then(function() {
window.location = "@Url.Action("AuthorizationFailed", "users")"
}) 
}
else
{
swal({
title: 'Contact Administrator !',
text: jqXHR.responseText,
type: 'error',
buttonsStyling: false,
confirmButtonClass: 'btn btn-primary'
}) 
}
}
})
}else
{

	$(".tenant_display").hide()
}
</script>
			
			<script>
			
			 
			</script>
			<script>
	$(document).ready(function () {
		
			$('#formId').validate({
                                        highlight: function(element) {
                                        $(element).closest('.form-group').addClass('has-error');
                                        $(element).closest('.form-group').removeClass('has-success');
                                        $(element).addClass('form-control-error');
                                        $(element).removeClass('form-control-success');
                                        },
                                        unhighlight: function(element) {
                                        $(element).closest('.form-group').removeClass('has-error');
                                        $(element).closest('.form-group').addClass('has-success');
                                        $(element).addClass('form-control-success');
                                        $(element).removeClass('form-control-error');
                                        },
                                        errorElement: 'span',
                                        errorClass: 'help-block'
                                        });

			    var validator = $("#formId").validate({ /* settings */ });
                                            $("#btnSubmit").click(function(){
                                                if ($("#formId").valid()){
                                                        $(".page-loader").show()

														
                                                        $("#formId").submit();
                                                }else{
                                                    validator.focusInvalid();
                                                    swal({
                                                        title: 'Validation Failed!',
                                                        text: "Please check your entry",
                                                        type: 'error',
                                                        buttonsStyling: false,
                                                        confirmButtonClass: 'btn btn-primary'
                                                    })
                                                }
                                            })


                                        })

	 
	</script>

			
			
            

			
			
<script>
					$(document).ready(function () {
						 
						$("#tenantid").change(function(){
								 
						})
					

					});
					</script>



