
			<!-- This code generated from Deliveries Powered by Mahat, Source Machine : 15.206.208.9 , Build Number : Build 14092021 #2021-09-014(Updated on 29102021 12:49) on 07/17/2023 08:36:16 -->
			@using Microsoft.AspNetCore.Http
			@inject IHttpContextAccessor HttpContextAccessor
			@model DineandDiscover.Models.specialfeaturesavailModel
			@{
			ViewData["Title"] = "Add specialfeatures avail";

			Layout = "~/Views/Shared/_Layout.cshtml";
			
			}

			@using(Html.BeginForm("Add_specialfeatures_avail", "specialfeaturesavail", FormMethod.Post, new { enctype="multipart/form-data", @id = "formId"}))
			{

			<div class="card card-block contCard"><!--Form_Main_Card-->
				<div class="mobileHeader"><!--form_card_header-->
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<h4 class="formHdr">Add specialfeatures avail</h4>
						</div>
					</div>
				</div><!--form_card_header-->
				<!--form_error_display-->
				@if(ViewData["message"] != null)
				{
				<div class="row">
				<div class="col-sm-12 col-xs-12">
				<div class="alert alert-danger alert-dismissible ">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">x</span>
				</button>
				Info :  @ViewData["message"]
				</div>
				</div>
				</div>
				}
				
				
				 
				
				<!--form_error_display-->
				<div class=""><!--form_inner_card-->
					<div class="card-block"><!--form_inner_card_block-->
					    @Html.HiddenFor(m => m.specialfeaturesavailid)
						 

						
						<div class="row"><!--field_container_row-->
							<!--fieldsStartsHere-->
								
								<div class="col-sm-3 col-xs-12 p-2 specialfeaturesavail_craftmyapp_container">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>special Features avail</label>
										<select name="specialfeaturesavail" id="specialfeaturesavail" class="form-control  "></select>

									</div>
									@Html.ValidationMessageFor(model => model.specialfeaturesavail)
									<label id="specialfeaturesavail-error" class="help-block" style="display: none" for="specialfeaturesavail"></label>
								</div>
							</div>
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>Seating In Balcony</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-3 col-xs-12 p-2 videoofbalcony_craftmyapp_container">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>video of Balcony</label>
										<br><input type="file" multiple  accept="video/*"   id="videoofbalcony" name="videoofbalcony">

										<div id="videoofbalconyDisp" href=""></div>
										<i class="form-group__bar" ></i>
									</div>
									@Html.ValidationMessageFor(model => model.videoofbalcony)
									<label id="videoofbalcony-error" class="help-block" style="display: none" for="videoofbalcony"></label>
								</div>
							</div>
<div class="col-sm-3 col-xs-12 p-2 imageofbalcony_craftmyapp_container">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>image of Balcony</label>
										<br><input type="file" multiple accept="image/*"  id="imageofbalcony" name="imageofbalcony">

										<div id="imageofbalconyDisp" href=""></div>
										<i class="form-group__bar" ></i>
									</div>
									@Html.ValidationMessageFor(model => model.imageofbalcony)
									<label id="imageofbalcony-error" class="help-block" style="display: none" for="imageofbalcony"></label>
								</div>
							</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>Kids Play area :</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-3 col-xs-12 p-2 imageofkidsplayarea_craftmyapp_container">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Image of kids play area</label>
										<br><input type="file" multiple accept="image/*"  id="imageofkidsplayarea" name="imageofkidsplayarea">

										<div id="imageofkidsplayareaDisp" href=""></div>
										<i class="form-group__bar" ></i>
									</div>
									@Html.ValidationMessageFor(model => model.imageofkidsplayarea)
									<label id="imageofkidsplayarea-error" class="help-block" style="display: none" for="imageofkidsplayarea"></label>
								</div>
							</div>
<div class="col-sm-3 col-xs-12 p-2 videoofkidsplayarea_craftmyapp_container">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Video of kids play area</label>
										<br><input type="file" multiple  accept="video/*"   id="videoofkidsplayarea" name="videoofkidsplayarea">

										<div id="videoofkidsplayareaDisp" href=""></div>
										<i class="form-group__bar" ></i>
									</div>
									@Html.ValidationMessageFor(model => model.videoofkidsplayarea)
									<label id="videoofkidsplayarea-error" class="help-block" style="display: none" for="videoofkidsplayarea"></label>
								</div>
							</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>Cocktail</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-3 col-xs-12 p-2 imageofcocktail_craftmyapp_container">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Image of cocktail</label>
										<br><input type="file" multiple accept="image/*"  id="imageofcocktail" name="imageofcocktail">

										<div id="imageofcocktailDisp" href=""></div>
										<i class="form-group__bar" ></i>
									</div>
									@Html.ValidationMessageFor(model => model.imageofcocktail)
									<label id="imageofcocktail-error" class="help-block" style="display: none" for="imageofcocktail"></label>
								</div>
							</div>
<div class="col-sm-3 col-xs-12 p-2 videoofcocktail_craftmyapp_container">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Video of cocktail</label>
										<br><input type="file" multiple  accept="video/*"   id="videoofcocktail" name="videoofcocktail">

										<div id="videoofcocktailDisp" href=""></div>
										<i class="form-group__bar" ></i>
									</div>
									@Html.ValidationMessageFor(model => model.videoofcocktail)
									<label id="videoofcocktail-error" class="help-block" style="display: none" for="videoofcocktail"></label>
								</div>
							</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>opening Hours</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-3 col-xs-12 p-2 openingtime_craftmyapp_container">
									<div>
										<div class="form-group form-group--float-above my-2" > 
											<label>opening time</label>
											@Html.TextBoxFor(m => m.openingtime, new {@type="time",@maxlength="256", @class = "form-control form-control-lg " })

											<i class="form-group__bar" ></i>
										</div>
										@Html.ValidationMessageFor(model => model.openingtime)
										<label id="openingtime-error" class="help-block" style="display: none" for="openingtime"></label>
									</div>
								</div>
<div class="col-sm-3 col-xs-12 p-2 closingtime_craftmyapp_container">
									<div>
										<div class="form-group form-group--float-above my-2" > 
											<label>closing time</label>
											@Html.TextBoxFor(m => m.closingtime, new {@type="time",@maxlength="256", @class = "form-control form-control-lg " })

											<i class="form-group__bar" ></i>
										</div>
										@Html.ValidationMessageFor(model => model.closingtime)
										<label id="closingtime-error" class="help-block" style="display: none" for="closingtime"></label>
									</div>
								</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>Contact Information</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-3 col-xs-12 p-2 contactinfo_craftmyapp_container">
						<div>
							<div class="form-group" > 
								<label>Contact Info</label>
                                @Html.TextBoxFor(m => m.contactinfo, new {@type="text",@maxlength="20", @class = "form-control form-control-lg " })

							     @Html.ValidationMessageFor(model => model.contactinfo)
							</div>
						</div>
					</div>
<div class="col-sm-3 col-xs-12 p-2 contactmail_craftmyapp_container">
						<div>
							<div class="form-group" > 
								<label>Contact Mail</label>
                                @Html.TextBoxFor(m => m.contactmail, new {@type="email",@maxlength="128", @class = "form-control form-control-lg " })

							     @Html.ValidationMessageFor(model => model.contactmail)
							</div>
						</div>
					</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>Accessibility</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-3 col-xs-12 p-4 specialfeaturefordisability_craftmyapp_container">
							<div>

							<label>special feature for disability</label><br>
							<div class="form-group">
                                                        <div>
                                                          <label class="switch">
                                                          @Html.CheckBoxFor(m => m.specialfeaturefordisability,new {@class = "" })
                                                           
                                                          <span class="slider round"></span>
                                                        </label>
                                                        </div>
                                                      </div>

							</div>
							</div>
<div class="col-sm-3 col-xs-12 p-4 walkingstickavailable_craftmyapp_container">
							<div>

							<label>Walking stick available</label><br>
							<div class="form-group">
                                                        <div>
                                                          <label class="switch">
                                                          @Html.CheckBoxFor(m => m.walkingstickavailable,new {@class = "" })
                                                           
                                                          <span class="slider round"></span>
                                                        </label>
                                                        </div>
                                                      </div>

							</div>
							</div>
<div class="col-sm-3 col-xs-12 p-4 wheelchairavailability_craftmyapp_container">
							<div>

							<label>Wheel chair availability</label><br>
							<div class="form-group">
                                                        <div>
                                                          <label class="switch">
                                                          @Html.CheckBoxFor(m => m.wheelchairavailability,new {@class = "" })
                                                           
                                                          <span class="slider round"></span>
                                                        </label>
                                                        </div>
                                                      </div>

							</div>
							</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 
 
				<div class="col-sm-12 col-xs-12 mt-3"><!--form_group_div_block-->
					<div class="card card-blue card-section cma_section_band">
							<div class="card-head">
								<header>Ambience</header>
							</div>
							<div class="card-body card-container-Padding-NoShadow">
								<div class="row">
										<div class="col-sm-3 col-xs-12 p-2 imageofentrance_craftmyapp_container">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>image of entrance</label>
										<br><input type="file" multiple accept="image/*"  id="imageofentrance" name="imageofentrance">

										<div id="imageofentranceDisp" href=""></div>
										<i class="form-group__bar" ></i>
									</div>
									@Html.ValidationMessageFor(model => model.imageofentrance)
									<label id="imageofentrance-error" class="help-block" style="display: none" for="imageofentrance"></label>
								</div>
							</div>
<div class="col-sm-3 col-xs-12 p-2 videoofoverallrestaurant_craftmyapp_container">
								<div>
									<div class="form-group form-group--float-above my-3" > 
										<label>Video of overall restaurant</label>
										<br><input type="file" multiple  accept="video/*"   id="videoofoverallrestaurant" name="videoofoverallrestaurant">

										<div id="videoofoverallrestaurantDisp" href=""></div>
										<i class="form-group__bar" ></i>
									</div>
									@Html.ValidationMessageFor(model => model.videoofoverallrestaurant)
									<label id="videoofoverallrestaurant-error" class="help-block" style="display: none" for="videoofoverallrestaurant"></label>
								</div>
							</div>


								</div>
							</div>
					</div>
				</div><!--form_group_div_block-->
			 


							<!--fieldsEndsHere-->	
						</div><!--field_container_row-->


						<div class="card-block"><!--form_button_card_block-->
							<button type="button" onclick="window.history.back()"  class="btn btn-secondary cma_cancel_button waves-effect">Cancel</button>
							<button type="button" id="btnSubmit" class="btn cma_primary_button  waves-effect pull-right">Add specialfeatures avail</button>
						</div><!--form_button_card_block-->


					</div><!--form_inner_card_block-->
				</div><!--form_inner_card-->
			</div><!--Form_Main_Card-->

			}<!--EndFORM-->


			
			 
			 <script type="text/javascript">
				$(document).ready(function () {


				var Actions=getAutho("specialfeaturesavail","create")
				if(Actions == undefined){
				window.location = "@Url.Action("RoleAuthorizationFailed", "users")"
				}


				});
				</script>
			
			<script>
var strspecialfeaturesavail;
</script>
@if (Model != null)
{
if(Model.specialfeaturesavail != null && Model.specialfeaturesavail.ToString() != "")
{
<script>
strspecialfeaturesavail="@Model.specialfeaturesavail"
</script>
}
}
<script>
var strvideoofbalcony;
</script>
@if (Model != null)
{
if(Model.videoofbalcony != null && Model.videoofbalcony.ToString() != "")
{
<script>
var uploaded_videoofbalcony = "@Model.videoofbalcony".split('|');
                                            var iterate = 1;
                                            for (var i = 0; i < uploaded_videoofbalcony.length; i++) {


	                                            if (uploaded_videoofbalcony[i] != "") {
		                                            
		                                                $("#videoofbalconyDisp").append('<a href="' + uploaded_videoofbalcony[i] + '"  download class='filedisplay'><i class="fa fa-file"></i></a>')
                                                    
                                                        iterate = iterate + 1;
	                                            }


                                            }

</script>
}
}
<script>
var strimageofbalcony;
</script>
@if (Model != null)
{
if(Model.imageofbalcony != null && Model.imageofbalcony.ToString() != "")
{
<script>
var uploaded_imageofbalcony = "@Model.imageofbalcony".split('|');
                                            var iterate = 0;
                                            for (var i = 0; i < uploaded_imageofbalcony.length; i++) {


	                                            if (uploaded_imageofbalcony[i] != "") {
		                                            iterate = iterate + 1;
		                                            if (iterate == 1)
			                                            $('#imageofbalconyDisp').append('<a href=' + uploaded_imageofbalcony[i] + ' class="imgimageofbalcony auto_clr_photo"><img  src=' + uploaded_imageofbalcony[i] + ' width="100px" /></a>')
		                                            else

			                                            $('#imageofbalconyDisp').append('<div style="display:none"> <a href=' + uploaded_imageofbalcony[i] + ' class="imgimageofbalcony auto_clr_photo"><img  src=' + uploaded_imageofbalcony[i] + ' width="100px" /></a></div>')
		 
	                                            }


                                            }
$('body').on('click', 'a.imgimageofbalcony', function (e) {
                            e.preventDefault();
                            $('.imgimageofbalcony').colorbox({ rel: '.imgimageofbalcony', width: "90%", height: "80%" });
                            $.colorbox({ open: true });
                            });
</script>
}
}
<link href="~/components/jquery-colorbox/colorbox.css" rel="stylesheet" />
								<script src="~/components/jquery-colorbox/jquery.colorbox.js"></script> 
<script>
var strimageofkidsplayarea;
</script>
@if (Model != null)
{
if(Model.imageofkidsplayarea != null && Model.imageofkidsplayarea.ToString() != "")
{
<script>
var uploaded_imageofkidsplayarea = "@Model.imageofkidsplayarea".split('|');
                                            var iterate = 0;
                                            for (var i = 0; i < uploaded_imageofkidsplayarea.length; i++) {


	                                            if (uploaded_imageofkidsplayarea[i] != "") {
		                                            iterate = iterate + 1;
		                                            if (iterate == 1)
			                                            $('#imageofkidsplayareaDisp').append('<a href=' + uploaded_imageofkidsplayarea[i] + ' class="imgimageofkidsplayarea auto_clr_photo"><img  src=' + uploaded_imageofkidsplayarea[i] + ' width="100px" /></a>')
		                                            else

			                                            $('#imageofkidsplayareaDisp').append('<div style="display:none"> <a href=' + uploaded_imageofkidsplayarea[i] + ' class="imgimageofkidsplayarea auto_clr_photo"><img  src=' + uploaded_imageofkidsplayarea[i] + ' width="100px" /></a></div>')
		 
	                                            }


                                            }
$('body').on('click', 'a.imgimageofkidsplayarea', function (e) {
                            e.preventDefault();
                            $('.imgimageofkidsplayarea').colorbox({ rel: '.imgimageofkidsplayarea', width: "90%", height: "80%" });
                            $.colorbox({ open: true });
                            });
</script>
}
}
<script>
var strvideoofkidsplayarea;
</script>
@if (Model != null)
{
if(Model.videoofkidsplayarea != null && Model.videoofkidsplayarea.ToString() != "")
{
<script>
var uploaded_videoofkidsplayarea = "@Model.videoofkidsplayarea".split('|');
                                            var iterate = 1;
                                            for (var i = 0; i < uploaded_videoofkidsplayarea.length; i++) {


	                                            if (uploaded_videoofkidsplayarea[i] != "") {
		                                            
		                                                $("#videoofkidsplayareaDisp").append('<a href="' + uploaded_videoofkidsplayarea[i] + '"  download class='filedisplay'><i class="fa fa-file"></i></a>')
                                                    
                                                        iterate = iterate + 1;
	                                            }


                                            }

</script>
}
}
<script>
var strimageofcocktail;
</script>
@if (Model != null)
{
if(Model.imageofcocktail != null && Model.imageofcocktail.ToString() != "")
{
<script>
var uploaded_imageofcocktail = "@Model.imageofcocktail".split('|');
                                            var iterate = 0;
                                            for (var i = 0; i < uploaded_imageofcocktail.length; i++) {


	                                            if (uploaded_imageofcocktail[i] != "") {
		                                            iterate = iterate + 1;
		                                            if (iterate == 1)
			                                            $('#imageofcocktailDisp').append('<a href=' + uploaded_imageofcocktail[i] + ' class="imgimageofcocktail auto_clr_photo"><img  src=' + uploaded_imageofcocktail[i] + ' width="100px" /></a>')
		                                            else

			                                            $('#imageofcocktailDisp').append('<div style="display:none"> <a href=' + uploaded_imageofcocktail[i] + ' class="imgimageofcocktail auto_clr_photo"><img  src=' + uploaded_imageofcocktail[i] + ' width="100px" /></a></div>')
		 
	                                            }


                                            }
$('body').on('click', 'a.imgimageofcocktail', function (e) {
                            e.preventDefault();
                            $('.imgimageofcocktail').colorbox({ rel: '.imgimageofcocktail', width: "90%", height: "80%" });
                            $.colorbox({ open: true });
                            });
</script>
}
}
<script>
var strvideoofcocktail;
</script>
@if (Model != null)
{
if(Model.videoofcocktail != null && Model.videoofcocktail.ToString() != "")
{
<script>
var uploaded_videoofcocktail = "@Model.videoofcocktail".split('|');
                                            var iterate = 1;
                                            for (var i = 0; i < uploaded_videoofcocktail.length; i++) {


	                                            if (uploaded_videoofcocktail[i] != "") {
		                                            
		                                                $("#videoofcocktailDisp").append('<a href="' + uploaded_videoofcocktail[i] + '"  download class='filedisplay'><i class="fa fa-file"></i></a>')
                                                    
                                                        iterate = iterate + 1;
	                                            }


                                            }

</script>
}
}
<script>
var strimageofentrance;
</script>
@if (Model != null)
{
if(Model.imageofentrance != null && Model.imageofentrance.ToString() != "")
{
<script>
var uploaded_imageofentrance = "@Model.imageofentrance".split('|');
                                            var iterate = 0;
                                            for (var i = 0; i < uploaded_imageofentrance.length; i++) {


	                                            if (uploaded_imageofentrance[i] != "") {
		                                            iterate = iterate + 1;
		                                            if (iterate == 1)
			                                            $('#imageofentranceDisp').append('<a href=' + uploaded_imageofentrance[i] + ' class="imgimageofentrance auto_clr_photo"><img  src=' + uploaded_imageofentrance[i] + ' width="100px" /></a>')
		                                            else

			                                            $('#imageofentranceDisp').append('<div style="display:none"> <a href=' + uploaded_imageofentrance[i] + ' class="imgimageofentrance auto_clr_photo"><img  src=' + uploaded_imageofentrance[i] + ' width="100px" /></a></div>')
		 
	                                            }


                                            }
$('body').on('click', 'a.imgimageofentrance', function (e) {
                            e.preventDefault();
                            $('.imgimageofentrance').colorbox({ rel: '.imgimageofentrance', width: "90%", height: "80%" });
                            $.colorbox({ open: true });
                            });
</script>
}
}
<script>
var strvideoofoverallrestaurant;
</script>
@if (Model != null)
{
if(Model.videoofoverallrestaurant != null && Model.videoofoverallrestaurant.ToString() != "")
{
<script>
var uploaded_videoofoverallrestaurant = "@Model.videoofoverallrestaurant".split('|');
                                            var iterate = 1;
                                            for (var i = 0; i < uploaded_videoofoverallrestaurant.length; i++) {


	                                            if (uploaded_videoofoverallrestaurant[i] != "") {
		                                            
		                                                $("#videoofoverallrestaurantDisp").append('<a href="' + uploaded_videoofoverallrestaurant[i] + '"  download class='filedisplay'><i class="fa fa-file"></i></a>')
                                                    
                                                        iterate = iterate + 1;
	                                            }


                                            }

</script>
}
}

			
			
			
			
			<script>
			
			 
			</script>
			<script>
	$(document).ready(function () {
		
			$('#formId').validate({
                                        highlight: function(element) {
                                        $(element).closest('.form-group').addClass('has-error');
                                        $(element).closest('.form-group').removeClass('has-success');
                                        $(element).addClass('form-control-error');
                                        $(element).removeClass('form-control-success');
                                        },
                                        unhighlight: function(element) {
                                        $(element).closest('.form-group').removeClass('has-error');
                                        $(element).closest('.form-group').addClass('has-success');
                                        $(element).addClass('form-control-success');
                                        $(element).removeClass('form-control-error');
                                        },
                                        errorElement: 'span',
                                        errorClass: 'help-block'
                                        });

			    var validator = $("#formId").validate({ /* settings */ });
                                            $("#btnSubmit").click(function(){
                                                if ($("#formId").valid()){
                                                        $(".page-loader").show()

														
                                                        $("#formId").submit();
                                                }else{
                                                    validator.focusInvalid();
                                                    swal({
                                                        title: 'Validation Failed!',
                                                        text: "Please check your entry",
                                                        type: 'error',
                                                        buttonsStyling: false,
                                                        confirmButtonClass: 'btn btn-primary'
                                                    })
                                                }
                                            })


                                        })

	 
	</script>

			
			
            

			
			<script>
function lookup_specialfeaturesavail_specialfeaturesavail() {

var sendFilterData = {
	
}

$.ajax({
url: '@Url.Action("lookup_specialfeaturesavail_specialfeaturesavail")',
dataType: 'json',

success: function(data) {

       var ddltarget_specialfeaturesavail="#specialfeaturesavail"
	    $(ddltarget_specialfeaturesavail).empty();
		
		$(ddltarget_specialfeaturesavail).append("<option value=''>Choose</option>");


		

		$.each(data, function(index, optionDataInner) {

				    if(strspecialfeaturesavail== optionDataInner.BasicInformationid)
					$(ddltarget_specialfeaturesavail).append('<option selected value=' + optionDataInner.BasicInformationid + '>' + optionDataInner.nameoftherestaurant+ '</option>')
					else
					$(ddltarget_specialfeaturesavail).append('<option  value=' + optionDataInner.BasicInformationid+ '>' + optionDataInner.nameoftherestaurant+ '</option>')
								


		});

		

	
},
error: function(jqXHR, textStatus, errorThrown) {
if (JSON.stringify(jqXHR.responseText) == "\"API Authorization failed\"")
{
swal({
title: 'Failed!',
text: jqXHR.responseText,
type: 'error',
buttonsStyling: false,
confirmButtonClass: 'btn btn-primary',
allowOutsideClick: false
}).then(function() {
window.location = "@Url.Action("AuthorizationFailed", "users")"
}) 
}
else
{
swal({
title: 'Contact Administrator !',
text: jqXHR.responseText,
type: 'error',
buttonsStyling: false,
confirmButtonClass: 'btn btn-primary'
}) 
}
}
})

}
</script>
<script>
						$(document).ready(function(){

							lookup_specialfeaturesavail_specialfeaturesavail()
							


						})
						
						</script>






